h1 {
  text-align: center;
  font-size: 80px;
  color: rgb(175, 122, 122);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 7px;
  text-shadow: 1px 1px 4px #4444;
}

@font-face {
  font-family: iron;
  src: url("/arquivos/maiden.ttf");
}

hr {
  width: 60%;
  height: 15px;
  background: linear-gradient(90deg, orange, blue);
}

.texto {
  width: 60%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

#praia {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.videosol {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
body {
  background: url("/imagens/pexels-césar-coni-3671512.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
}

button {
  border-radius: 10px;
  padding: 10px;
  background: rgb(13, 83, 13);
  color: white;
  border-radius: 6px;
  border: 4px ridge white;
  transition: 0.6s;
}

button:hover {
  background: white;
  color: green;
  border: 4px ridge green;
}

.botoes {
  width: 25%;
  margin: 20px auto;
  text-align: center;
  padding: 20px 0;
  border-radius: 30px;
  background: rgba(255, 0, 0, 0.37);
}
